*{
  box-sizing: border-box;
}

*,*::before, *::after{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--green-200);
  font-family: "Karla";
}

#confirmMsg{
  background-color: rgb(13, 77, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 100px;
  color: white;
  row-gap: 5px;
  border-radius: 10px;
  visibility: hidden;
}

#confirmMsg h3{
  display: flex;
  align-items: center ;
  column-gap: 10px;
}

.container{
  background-color: white;
  border-radius: 10px;
  height: 670px;
  width: 600px;
  padding-inline: 35px;
  padding-block: 25px;
}

.title-container{
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

form{
  color: var(--grey-500);
}

.fullnameContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  column-gap:10px;
}

.fn1 , .fn2{
  display: grid;
  font-size: 14px;
  row-gap: 10px;
  width: 50%;
}

input{
  border-radius: 10px;
  height: 35px;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--grey-500);
  cursor: pointer;
}

input:hover {
  border: 1px solid var(--grey-900);
}

.emailAddressContainer{
  display: grid;
  padding: 5px;
  font-size: 14px;
  row-gap: 10px;
}

.queryTypesContainer{
  padding: 5px;
}

.qtLabel{
  display: flex;
  align-items: center;
  font-size: 16px;
  column-gap: 15px;
  padding: 5px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--grey-500);
}

.qt1 input, .qt2 input{
  width: 18px;
}

.qtContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  column-gap:15px;
}

.messageCotainer{
  display: grid;
  padding: 5px;
  row-gap: 10px;
}

textarea{
  resize: none;
  width: 100%;
  height: 90px;
  border-radius:10px;
  padding: 5px;
  overflow: scroll;
}

::-webkit-scrollbar{
  scrollbar-width: none;
}
.submitBtnContainer{
  display: grid;
  padding: 5px;
  row-gap: 10px;
}

.consent{
  display: flex;
  align-items: center;
  column-gap:10px;
}

.consent input{
  height: 25px;
  width: 20px;
}

.submitBtn{
  background-color: var(--green-600);
  color: var(--white);
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.submitBtn:hover{
  background-color: rgb(13, 77, 13);
}


.errorMsg{
  color: red;
  height: 20px;
  font-size: 14px;
}

:root {
  /* Primary Colors */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}
